---
http_interactions:
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/subscriptions
    body:
      encoding: UTF-8
      string: '{"changeType":"deleted,updated","notificationUrl":"https://hello-world.com/office365/notifications","lifecycleNotificationUrl":"https://hello-world.com/office365/lifecycle_notifications","resource":"/me/events","expirationDateTime":"2024-08-07T12:00:00.0000000Z","clientState":"SecretClientState"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Location:
      - https://subscriptionstore.windows.net/1.0/NA/subscriptions('56de97c4-a108-417d-9ac3-368a026a03d2')
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"TY1PEPF0000604B"}}'
      Odata-Version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#subscriptions/$entity","id":"subscription-identifier","resource":"/me/events","applicationId":"hello-world-app","changeType":"updated,deleted","clientState":"SecretClientState","notificationUrl":"https://hello-world.com/office365/notifications","notificationQueryOptions":null,"lifecycleNotificationUrl":"https://hello-world.com/office365/lifecycle_notifications","expirationDateTime":"2024-08-07T12:00:00Z","creatorId":"6de11dbd-7bf6-44e9-9c95-80de80a07ce1","includeResourceData":null,"latestSupportedTlsVersion":"v1_2","encryptionCertificate":null,"encryptionCertificateId":null,"notificationUrlAppId":null}'
  recorded_at: Wed, 07 Aug 2024 07:43:58 GMT
recorded_with: VCR 6.1.0
