---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/messages?$filter=createdDateTime%20lt%202022-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"002","RoleInstance":"SE1PEPF00002FE4"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''vBox.Andy%40outlook.com'')/messages","value":[]}'
  recorded_at: Wed, 26 Oct 2022 05:11:31 GMT
recorded_with: VCR 6.1.0
