---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"000","RoleInstance":"SE1PEPF00001881"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''6de11dbd-7bf6-44e9-9c95-80de80a07ce1'')/events","value":[{"@odata.etag":"W/\"Ac4KMsV340S4R0LwqVXF0QAACBJVhg==\"","id":"AAMkADdhZmFlNzVmLWNiNzQtNDRhMi1hNjBkLWU3ZjI4ZTUzM2FjMwBGAAAAAADptOSlOMmUQJ1QlogHncQ9BwABzgoyxXfjRLhHQvCpVcXRAAAAAAENAAABzgoyxXfjRLhHQvCpVcXRAAAIFhVwAAA=","createdDateTime":"2022-10-31T10:34:12.4816172Z","lastModifiedDateTime":"2022-10-31T10:36:21.7871694Z","changeKey":"Ac4KMsV340S4R0LwqVXF0QAACBJVhg==","categories":[],"transactionId":"977c4882-d7f5-69ee-3f08-c808d7b8cc08","originalStartTimeZone":"China
        Standard Time","originalEndTimeZone":"China Standard Time","iCalUId":"040000008200E00074C5B7101A82E0080000000071C9345114EDD80100000000000000001000000007E39BE5F360BD43BBB8789034D0CED5","reminderMinutesBeforeStart":15,"isReminderOn":true,"hasAttachments":false,"subject":"test","bodyPreview":"test\r\n\r\n________________________________________________________________________________\r\nMicrosoft
        Teams meeting\r\nJoin on your computer, mobile app or room device\r\nClick
        here to join the meeting\r\nMeeting ID: 218 334 166 091\r\nPasscode: 2V79KG\r\nDownload
        Te","importance":"normal","sensitivity":"normal","isAllDay":false,"isCancelled":false,"isOrganizer":true,"responseRequested":true,"seriesMasterId":null,"showAs":"busy","type":"singleInstance","webLink":"https://outlook.office365.com/owa/?itemid=AAMkADdhZmFlNzVmLWNiNzQtNDRhMi1hNjBkLWU3ZjI4ZTUzM2FjMwBGAAAAAADptOSlOMmUQJ1QlogHncQ9BwABzgoyxXfjRLhHQvCpVcXRAAAAAAENAAABzgoyxXfjRLhHQvCpVcXRAAAIFhVwAAA%3D&exvsurl=1&path=/calendar/item","onlineMeetingUrl":null,"isOnlineMeeting":true,"onlineMeetingProvider":"teamsForBusiness","allowNewTimeProposals":true,"occurrenceId":null,"isDraft":false,"hideAttendees":false,"responseStatus":{"response":"organizer","time":"0001-01-01T00:00:00Z"},"body":{"contentType":"html","content":"<html>\r\n<head>\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\r\n</head>\r\n<body>\r\n<div
        style=\"font-family:Calibri,Arial,Helvetica,sans-serif; font-size:12pt; color:rgb(0,0,0);
        background-color:rgb(255,255,255)\">\r\ntest</div>\r\n<br>\r\n<div style=\"width:100%;
        height:20px\"><span style=\"white-space:nowrap; color:#5F5F5F; opacity:.36\">________________________________________________________________________________</span>\r\n</div>\r\n<div
        class=\"me-email-text\" lang=\"en-US\" style=\"color:#252424; font-family:''Segoe
        UI'',''Helvetica Neue'',Helvetica,Arial,sans-serif\">\r\n<div style=\"margin-top:24px;
        margin-bottom:20px\"><span style=\"font-size:24px; color:#252424\">Microsoft
        Teams meeting</span>\r\n</div>\r\n<div style=\"margin-bottom:20px\">\r\n<div
        style=\"margin-top:0px; margin-bottom:0px; font-weight:bold\"><span style=\"font-size:14px;
        color:#252424\">Join on your computer, mobile app or room device</span>\r\n</div>\r\n<a
        href=\"https://teams.microsoft.com/l/meetup-join/19%3ameeting_YTE2MjY2YmItNWYyMC00MmY5LWFmZDEtZmU3NjM5YWU2MDE0%40thread.v2/0?context=%7b%22Tid%22%3a%22749048ec-f5bb-40a8-a716-a3dfaf39cab1%22%2c%22Oid%22%3a%226de11dbd-7bf6-44e9-9c95-80de80a07ce1%22%7d\"
        class=\"me-email-headline\" style=\"font-size:14px; font-family:''Segoe UI
        Semibold'',''Segoe UI'',''Helvetica Neue'',Helvetica,Arial,sans-serif; text-decoration:underline;
        color:#6264a7\">Click\r\n here to join the meeting</a> </div>\r\n<div style=\"margin-bottom:20px;
        margin-top:20px\">\r\n<div style=\"margin-bottom:4px\"><span style=\"font-size:14px;
        color:#252424\">Meeting ID:\r\n<span style=\"font-size:16px; color:#252424\">218
        334 166 091</span> </span><br>\r\n<span style=\"font-size:14px; color:#252424\">Passcode:
        </span><span style=\"font-size:16px; color:#252424\">2V79KG\r\n</span>\r\n<div
        style=\"font-size:14px\"><a href=\"https://www.microsoft.com/en-us/microsoft-teams/download-app\"
        class=\"me-email-link\" style=\"font-s[...]
