---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"002","RoleInstance":"SE1PEPF00003EB2"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''vBox.Andy%40outlook.com'')/messages","value":[{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABjafox\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABja47qAAAA","createdDateTime":"2022-10-26T05:06:12Z","lastModifiedDateTime":"2022-10-26T05:06:14Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABjafox","categories":[],"receivedDateTime":"2022-10-26T05:06:13Z","sentDateTime":"2022-10-26T05:06:08Z","hasAttachments":false,"internetMessageId":"<Z1OXZJ4E8IU4.YJJ8DUQAUOU82@SN1PEPF00011083>","subject":"Microsoft
        account unusual sign-in activity","importance":"normal","parentFolderId":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoALgAAA4QFHqPHk4JJj7ZVaRPCKk4BAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAA==","conversationId":"AQQkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoAEACh3BM3-v1AQZUDbantDIQd","conversationIndex":"AQHY6PirodwTN/79QEGVA22p7QyEHQ==","isDeliveryReceiptRequested":null,"isReadReceiptRequested":false,"isRead":false,"isDraft":false,"webLink":"https://outlook.live.com/owa/?ItemID=AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y%2BPX15zBUAAAIBDAAAAJtRzzo1C2FDv4y%2BPX15zBUAAABja47qAAAA&exvsurl=1&viewmodel=ReadMessageItem","inferenceClassification":"focused","sender":{"emailAddress":{"name":"Microsoft
        account team","address":"account-security-noreply@accountprotection.microsoft.com"}},"from":{"emailAddress":{"name":"Microsoft
        account team","address":"account-security-noreply@accountprotection.microsoft.com"}},"toRecipients":[{"emailAddress":{"name":"vBox.Andy@outlook.com","address":"vBox.Andy@outlook.com"}}],"ccRecipients":[],"bccRecipients":[],"replyTo":[],"flag":{"flagStatus":"notFlagged"}},{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABjab+W\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABja47pAAAA","createdDateTime":"2022-10-24T10:09:19Z","lastModifiedDateTime":"2022-10-24T10:09:20Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABjab+W","categories":[],"receivedDateTime":"2022-10-24T10:09:19Z","sentDateTime":"2022-10-24T10:09:13Z","hasAttachments":false,"internetMes[...]
