---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/messages?$skip=10&$top=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"002","RoleInstance":"SE1PEPF000019D4"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''vBox.Andy%40outlook.com'')/messages","value":[{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABgZulU\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABgaHfzAAAA","createdDateTime":"2022-10-19T10:09:16Z","lastModifiedDateTime":"2022-10-19T10:09:19Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABgZulU","categories":[],"receivedDateTime":"2022-10-19T10:09:18Z","sentDateTime":"2022-10-19T10:09:10Z","hasAttachments":false,"internetMessageId":"<1462521899.10463107.1666174150139@lva1-app58848.prod.linkedin.com>","subject":"\u89d2\u5ddd\u5e78\u6075
        and others just posted","importance":"normal","parentFolderId":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoALgAAA4QFHqPHk4JJj7ZVaRPCKk4BAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAA==","conversationId":"AQQkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoAEADaW7ZIwleURaflN3bt3N6G","conversationIndex":"AQHY46LY2lu2SMJXlEWn5Td27dzehg==","isDeliveryReceiptRequested":null,"isReadReceiptRequested":false,"isRead":false,"isDraft":false,"webLink":"https://outlook.live.com/owa/?ItemID=AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y%2BPX15zBUAAAIBDAAAAJtRzzo1C2FDv4y%2BPX15zBUAAABgaHfzAAAA&exvsurl=1&viewmodel=ReadMessageItem","inferenceClassification":"other","sender":{"emailAddress":{"name":"LinkedIn","address":"updates-noreply@linkedin.com"}},"from":{"emailAddress":{"name":"LinkedIn","address":"updates-noreply@linkedin.com"}},"toRecipients":[{"emailAddress":{"name":"Vbox
        Andy","address":"vBox.Andy@outlook.com"}}],"ccRecipients":[],"bccRecipients":[],"replyTo":[],"flag":{"flagStatus":"notFlagged"}},{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABfN5KU\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABfOSMiAAAA","createdDateTime":"2022-10-18T10:09:16Z","lastModifiedDateTime":"2022-10-18T10:09:18Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABfN5KU","categories":[],"receivedDateTime":"2022-10-18T10:09:17Z","sentDateTime":"2022-10-18T10:09:12Z","hasAttachments":false,"internetMes[...]
