---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0000657B"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''vBox.Andy%40outlook.com'')/messages","value":[{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABhlP0D\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABhlpGAAAAA","createdDateTime":"2022-10-20T15:51:02Z","lastModifiedDateTime":"2022-10-20T15:51:03Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABhlP0D","categories":[],"receivedDateTime":"2022-10-20T15:51:02Z","sentDateTime":"2022-10-20T15:50:57Z","hasAttachments":false,"internetMessageId":"<TT4ENSWO6IU4.LDZMUQCXJYLQ@BL02EPF000016EB>","subject":"New
        app(s) connected to your Microsoft account","importance":"normal","parentFolderId":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoALgAAA4QFHqPHk4JJj7ZVaRPCKk4BAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAA==","conversationId":"AQQkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoAEAAq4ELrMfovSazJzl7kr14i","conversationIndex":"AQHY5JvBKuBC6zH6L0msyc5e5K9eIg==","isDeliveryReceiptRequested":null,"isReadReceiptRequested":false,"isRead":false,"isDraft":false,"webLink":"https://outlook.live.com/owa/?ItemID=AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y%2BPX15zBUAAAIBDAAAAJtRzzo1C2FDv4y%2BPX15zBUAAABhlpGAAAAA&exvsurl=1&viewmodel=ReadMessageItem","inferenceClassification":"focused","sender":{"emailAddress":{"name":"Microsoft
        account team","address":"account-security-noreply@accountprotection.microsoft.com"}},"from":{"emailAddress":{"name":"Microsoft
        account team","address":"account-security-noreply@accountprotection.microsoft.com"}},"toRecipients":[{"emailAddress":{"name":"vBox.Andy@outlook.com","address":"vBox.Andy@outlook.com"}}],"ccRecipients":[],"bccRecipients":[],"replyTo":[],"flag":{"flagStatus":"notFlagged"}},{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABhlPz9\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAABhlpF-AAAA","createdDateTime":"2022-10-20T15:42:35Z","lastModifiedDateTime":"2022-10-20T15:42:35Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAABhlPz9","categories":[],"receivedDateTime":"2022-10-20T15:42:35Z","sentDateTime":"2022-10-20T15:42:30Z","hasAttachments":false,"internetMes[...]
