---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/calendarview?enddatetime=2024-11-21T00:00:00.000Z&startdatetime=2024-11-14T00:00:00.000Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"TY2PEPF00005FD3"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''6de11dbd-7bf6-44e9-9c95-80de80a07ce1'')/calendarView","value":[{"@odata.etag":"W/\"Ac4KMsV340S4R0LwqVXF0QAB7tfMqg==\"","id":"AAMkADdhZmFlNzVmLWNiNzQtNDRhMi1hNjBkLWU3ZjI4ZTUzM2FjMwBGAAAAAADptOSlOMmUQJ1QlogHncQ9BwABzgoyxXfjRLhHQvCpVcXRAAAAAAENAAABzgoyxXfjRLhHQvCpVcXRAAHvLSrSAAA=","createdDateTime":"2024-11-14T05:43:17.1978131Z","lastModifiedDateTime":"2024-11-14T05:45:22.1666932Z","changeKey":"Ac4KMsV340S4R0LwqVXF0QAB7tfMqg==","categories":[],"transactionId":"e32ba680-6cb9-3f59-bacb-cb925ba47e29","originalStartTimeZone":"China
        Standard Time","originalEndTimeZone":"China Standard Time","iCalUId":"040000008200E00074C5B7101A82E008000000007FD2C71A5836DB01000000000000000010000000E10C1A240381E048A53851DFF165A446","uid":"040000008200E00074C5B7101A82E008000000007FD2C71A5836DB01000000000000000010000000E10C1A240381E048A53851DFF165A446","reminderMinutesBeforeStart":15,"isReminderOn":true,"hasAttachments":false,"subject":"Second
        Event with Joey","bodyPreview":"________________________________________________________________________________\r\nMicrosoft
        Teams Need help?\r\nJoin the meeting now\r\nMeeting ID: 230 746 239 089\r\nPasscode:
        3CdX48\r\n________________________________\r\nFor organizers: Meeting options\r\n_______","importance":"normal","sensitivity":"normal","isAllDay":false,"isCancelled":false,"isOrganizer":true,"responseRequested":true,"seriesMasterId":null,"showAs":"busy","type":"singleInstance","webLink":"https://outlook.office365.com/owa/?itemid=AAMkADdhZmFlNzVmLWNiNzQtNDRhMi1hNjBkLWU3ZjI4ZTUzM2FjMwBGAAAAAADptOSlOMmUQJ1QlogHncQ9BwABzgoyxXfjRLhHQvCpVcXRAAAAAAENAAABzgoyxXfjRLhHQvCpVcXRAAHvLSrSAAA%3D&exvsurl=1&path=/calendar/item","onlineMeetingUrl":null,"isOnlineMeeting":true,"onlineMeetingProvider":"teamsForBusiness","allowNewTimeProposals":true,"occurrenceId":null,"isDraft":false,"hideAttendees":false,"responseStatus":{"response":"organizer","time":"0001-01-01T00:00:00Z"},"body":{"contentType":"html","content":"<html>\r\n<head>\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\r\n</head>\r\n<body>\r\n<br>\r\n<div
        class=\"me-email-text\" style=\"max-width:520px; color:#242424; font-family:''Segoe
        UI'',''Helvetica Neue'',Helvetica,Arial,sans-serif\">\r\n<div style=\"margin-bottom:24px;
        overflow:hidden; white-space:nowrap\">________________________________________________________________________________</div>\r\n<div
        style=\"margin-bottom:12px\"><span class=\"me-email-text\" style=\"font-size:24px;
        font-weight:700; margin-right:12px\">Microsoft Teams</span>\r\n<a href=\"https://aka.ms/JoinTeamsMeeting?omkt=en-US\"
        id=\"meet_invite_block.action.help\" class=\"me-email-link\" style=\"font-size:14px;
        text-decoration:underline; color:#5B5FC7\">\r\nNeed help?</a> </div>\r\n<div
        style=\"margin-bottom:6px\"><a href=\"https://teams.microsoft.com/l/meetup-join/19%3ameeting_NDQzNzE4ZjktMGE0NC00NWIxLTk4MDYtYWE5ZDE0ZGFmZDVk%40thread.v2/0?context=%7b%22Tid%22%3a%22749048ec-f5bb-40a8-a716-a3dfaf39cab1%22%2c%22Oid%22%3a%226de11dbd-7bf6-44e9-9c95-80de80a07ce1%22%7d\"
        id=\"meet_invite_block.action.join_link\" title=\"Meeting join link\" class=\"me-email-headline\"
        style=\"font-size:20px; font-weight:600; text-decoration:underline; color:#5B5FC7\">Join\r\n
        the meeting now</a> </div>\r\n<div style=\"margin-bottom:6px\"><span class=\"me-email-text-secondary\"
        style=\"font-size:14px; color:#616161\">Meeting ID:\r\n</span><span class=\"me-email-text\"
        style=\"font-size:14px; color:#242424\">230 746 239 089</span>\r\n</div>\r\n<div
        style=\"margin-bottom:24px\"><span class=\"me-email-text-secondary\" style=\"font-size:14px;
        color:#616161\">Passcode:\r\n</span><span class=\"me-email-text\" style=\"font-size:14px;
        color:#242424\">3CdX48</span>\r\n</div>\r\n<div style=\"margin-bottom:24px;
        max-width:532px\">\r\n<hr style=\"border:0; background:#D1D1D1; height:1px\">\r\n</div>\r\n<div><span
        class=\"me-email-text-secondary\" style=\"font-size:14px; color:#616161\">For
        organizers:\r\n</span><a href=\"https://teams.microsoft.com/meetingOptions/?organizerId=6de11dbd-7bf6-44e9-9c95-80de80a07ce1&amp;tenantId=749048ec-f5bb-40a8-a716-a3dfaf39cab1&amp;threadId=19_meeting_NDQzNzE4ZjktMGE0NC00NWIxLTk4MDYtYWE5ZDE0ZGFmZDVk@thread.v2&amp;messageId=0&amp;language=en-US\"
        id=\"meet_invite_block.action.organizer_meet_options\" class=\"me-email-link\"
        style=\"font-size:14px; text-decoration:underline; color:#5B5FC7\">Meeting\r\n
        options</a> </div>\r\n<div style=\"margin-top:24px; margin-bottom:6px\"></div>\r\n<div
        style=\"margin-bottom:24px\"></div>\r\n<div style=\"margin-bottom:24px; overflow:hidden;
        white-space:nowrap\">________________________________________________________________________________</div>\r\n</div>\r\n</body>\r\n</html>\r\n"},"start":{"dateTime":"2024-11-14T05:30:00.0000000","timeZone":"UTC"},"end":{"dateTime":"2024-11-14T06:00:00.0000000","timeZone":"UTC"},"location":{"displayName":"Microsoft
        Teams Meeting","locationType":"default","uniqueId":"Microsoft Teams Meeting","uniqueIdType":"private"},"locations":[{"displayName":"Microsoft
        Teams Meeting","locationType":"default","uniqueId":"Microsoft Teams Meeting","uniqueIdType":"private"}],"recurrence":null,"attendees":[{"type":"required","status":{"response":"none","time":"0001-01-01T00:00:00Z"},"emailAddress":{"name":"encore@ekohe.com","address":"encore@ekohe.com"}},{"type":"required","status":{"response":"none","time":"0001-01-01T00:00:00Z"},"emailAddress":{"name":"joey@ekohe.com","address":"joey@ekohe.com"}},{"type":"required","status":{"response":"none","time":"0001-01-01T00:00:00Z"},"emailAddress":{"name":"encore.shao@gmail.com","address":"encore.shao@gmail.com"}}],"organizer":{"emailAddress":{"name":"Ekohe
        Sonar","address":"ekohe@stripes.co"}},"onlineMeeting":{"joinUrl":"https://teams.microsoft.com/l/meetup-join/19%3ameeting_NDQzNzE4ZjktMGE0NC00NWIxLTk4MDYtYWE5ZDE0ZGFmZDVk%40thread.v2/0?context=%7b%22Tid%22%3a%22749048ec-f5bb-40a8-a716-a3dfaf39cab1%22%2c%22Oid%22%3a%226de11dbd-7bf6-44e9-9c95-80de80a07ce1%22%7d"}},{"@odata.etag":"W/\"Ac4KMsV340S4R0LwqVXF0QAB7tfQkw==\"","id":"AAMkADdhZmFlNzVmLWNiNzQtNDRhMi1hNjBkLWU3ZjI4ZTUzM2FjMwBGAAAAAADptOSlOMmUQJ1QlogHncQ9BwABzgoyxXfjRLhHQvCpVcXRAAAAAAENAAABzgoyxXfjRLhHQvCpVcXRAAHvLSrTAAA=","createdDateTime":"2024-11-14T06:15:[...]
