---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"SE1PEPF00003EAA"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''feoso946%40hotmail.com'')/contacts","value":[{"@odata.etag":"W/\"EQAAABYAAACer+ZeMVsZT5yBglWtXgRZAAAZXDms\"","id":"AQMkADAwATNiZmYAZC1hZmUzLTIwYmUtMDACLTAwCgBGAAAD6hLLGa-ZlEeOoweJ8LgGnAcAnq-mXjFbGU_cgYJVrV4EWQAAAgEOAAAAnq-mXjFbGU_cgYJVrV4EWQAAABlcLbQAAAA=","createdDateTime":"2017-12-15T09:56:51Z","lastModifiedDateTime":"2017-12-15T09:56:56Z","changeKey":"EQAAABYAAACer+ZeMVsZT5yBglWtXgRZAAAZXDms","categories":[],"parentFolderId":"AQMkADAwATNiZmYAZC1hZmUzLTIwYmUtMDACLTAwCgAuAAAD6hLLGa-ZlEeOoweJ8LgGnAEAnq-mXjFbGU_cgYJVrV4EWQAAAgEOAAAA","birthday":null,"fileAs":"\u5433,
        \u7d2b\u7fce","displayName":"\u7d2b\u7fce","givenName":"\u7d2b\u7fce","initials":null,"middleName":null,"nickName":null,"surname":"\u5433","title":null,"yomiGivenName":null,"yomiSurname":null,"yomiCompanyName":null,"generation":null,"imAddresses":[],"jobTitle":null,"companyName":null,"department":null,"officeLocation":null,"profession":null,"businessHomePage":null,"assistantName":null,"manager":null,"homePhones":[],"mobilePhone":null,"businessPhones":[],"spouseName":null,"personalNotes":"","children":[],"emailAddresses":[{"name":"kawafox@hotmail.com","address":"kawafox@hotmail.com"}],"homeAddress":{},"businessAddress":{},"otherAddress":{}},{"@odata.etag":"W/\"EQAAABYAAACer+ZeMVsZT5yBglWtXgRZAAAZXDmt\"","id":"AQMkADAwATNiZmYAZC1hZmUzLTIwYmUtMDACLTAwCgBGAAAD6hLLGa-ZlEeOoweJ8LgGnAcAnq-mXjFbGU_cgYJVrV4EWQAAAgEOAAAAnq-mXjFbGU_cgYJVrV4EWQAAABlcLbMAAAA=","createdDateTime":"2017-12-15T09:56:51Z","lastModifiedDateTime":"2017-12-15T09:56:58Z","changeKey":"EQAAABYAAACer+ZeMVsZT5yBglWtXgRZAAAZXDmt","categories":[],"parentFolderId":"AQMkADAwATNiZmYAZC1hZmUzLTIwYmUtMDACLTAwCgAuAAAD6hLLGa-ZlEeOoweJ8LgGnAEAnq-mXjFbGU_cgYJVrV4EWQAAAgEOAAAA","b[...]
