---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/events/identifier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"TY1PEPF0000824F"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''hello-world'')/events/$entity","@odata.etag":"W/\"Ac4KMsV340S4R0LwqVXF0QABrVpntg==\"","id":"identifier","createdDateTime":"2024-08-07T04:11:02.9716249Z","lastModifiedDateTime":"2024-08-07T04:13:22.1273089Z","changeKey":"Ac4KMsV340S4R0LwqVXF0QABrVpntg==","categories":[],"transactionId":"6decf4fd-c54d-c637-046a-988b36495045","originalStartTimeZone":"China
        Standard Time","originalEndTimeZone":"China Standard Time","iCalUId":"040000008200E00074C5B7101A82E008000000008B353AD17FE8DA0100000000000000001000000097A327F1F55F8545A9AACF1240707768","uid":"040000008200E00074C5B7101A82E008000000008B353AD17FE8DA0100000000000000001000000097A327F1F55F8545A9AACF1240707768","reminderMinutesBeforeStart":15,"isReminderOn":true,"hasAttachments":false,"subject":"event
        test","bodyPreview":"Test for Webhook\r\n\r\n________________________________________________________________________________\r\nMicrosoft
        Teams Need help?\r\nJoin the meeting now\r\nMeeting ID: 220 721 647 395\r\nPasscode:
        xrNBkb\r\n________________________________\r\nFor organizers: Meetin","importance":"normal","sensitivity":"normal","isAllDay":false,"isCancelled":false,"isOrganizer":true,"responseRequested":true,"seriesMasterId":null,"showAs":"busy","type":"singleInstance","webLink":"https://outlook.office365.com/owa/?itemid=identifier%3D&exvsurl=1&path=/calendar/item","onlineMeetingUrl":null,"isOnlineMeeting":true,"onlineMeetingProvider":"teamsForBusiness","allowNewTimeProposals":true,"occurrenceId":null,"isDraft":false,"hideAttendees":false,"responseStatus":{"response":"organizer","time":"0001-01-01T00:00:00Z"},"body":{"contentType":"html","content":"<html>\r\n<head>\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\r\n</head>\r\n<body>\r\n<div
        style=\"font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;
        font-size:12pt; color:rgb(0,0,0)\">\r\nTest for Webhook</div>\r\n<br>\r\n<div
        style=\"max-width:520px\">\r\n<div style=\"white-space:nowrap; margin-bottom:24px;
        font-family:&quot;Segoe UI&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
        color:rgb(36,36,36)\">\r\n________________________________________________________________________________</div>\r\n<div
        style=\"margin-bottom:12px; font-family:&quot;Segoe UI&quot;,&quot;Helvetica
        Neue&quot;,Helvetica,Arial,sans-serif\">\r\n<span style=\"font-size:24px;
        color:rgb(36,36,36); font-weight:700\">Microsoft Teams</span><span style=\"color:rgb(36,36,36)\">\r\n</span><span
        style=\"font-size:14px; color:rgb(91,95,199)\"><u><a href=\"https://aka.ms/JoinTeamsMeeting?omkt=en-US\"
        id=\"x_meet_invite_block.action.help\" class=\"x_me-email-link OWAAutoLink\"
        style=\"color:rgb(91,95,199)\">Need help?</a></u></span></div>\r\n<div style=\"margin-bottom:6px;
        font-family:&quot;Segoe UI&quot;,&quot;Hel[...]
