---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me/messages?$filter=createdDateTime%20lt%202022-10-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Korea Central","Slice":"E","Ring":"3","ScaleUnit":"002","RoleInstance":"SE1PEPF00003EB1"}}'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''vBox.Andy%40outlook.com'')/messages","value":[{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAAAAAAJz\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAAIFUgAAAA==","createdDateTime":"2022-05-25T15:10:48Z","lastModifiedDateTime":"2022-05-25T15:10:49Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAAAAAAJz","categories":[],"receivedDateTime":"2022-05-25T15:10:49Z","sentDateTime":"2022-05-25T15:10:49Z","hasAttachments":false,"internetMessageId":"<SG2PR01MB2094017C027B49428299D945E3D69@SG2PR01MB2094.apcprd01.prod.exchangelabs.com>","subject":"Welcome
        to your new Outlook.com account","importance":"normal","parentFolderId":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoALgAAA4QFHqPHk4JJj7ZVaRPCKk4BAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAA==","conversationId":"AQQkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoAEABbhv93wNEKSKbOygFTQFOs","conversationIndex":"AQHYcEmdW4b/d8DRCkimzsoBU0BTrA==","isDeliveryReceiptRequested":null,"isReadReceiptRequested":false,"isRead":false,"isDraft":false,"webLink":"https://outlook.live.com/owa/?ItemID=AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y%2BPX15zBUAAAIBDAAAAJtRzzo1C2FDv4y%2BPX15zBUAAAIFUgAAAA%3D%3D&exvsurl=1&viewmodel=ReadMessageItem","inferenceClassification":"focused","sender":{"emailAddress":{"name":"Outlook
        Team","address":"no-reply@microsoft.com"}},"from":{"emailAddress":{"name":"Outlook
        Team","address":"no-reply@microsoft.com"}},"toRecipients":[{"emailAddress":{"name":"vBox
        Andy","address":"vbox.andy@outlook.com"}}],"ccRecipients":[],"bccRecipients":[],"replyTo":[],"flag":{"flagStatus":"notFlagged"}},{"@odata.etag":"W/\"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAAAAAAg5\"","id":"AQMkADAwATM3ZmYAZS00ZTU5LWY3NwBjLTAwAi0wMAoARgAAA4QFHqPHk4JJj7ZVaRPCKk4HAJtRzzo1C2FDv4y_PX15zBUAAAIBDAAAAJtRzzo1C2FDv4y_PX15zBUAAAIFUwAAAA==","createdDateTime":"2022-05-25T15:41:54Z","lastModifiedDateTime":"2022-05-25T15:41:55Z","changeKey":"CQAAABYAAACbUc86NQthQ7+Mvj19ecwVAAAAAAg5","categories":[],"receivedDateTime":"2022-05-25T15:41:55Z","sentDateTime":"2022-05-25T15:41:50Z","hasAttachments":false,"internetMes[...]
